spring:
  application:
    name: complaint
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres
    username: postgres.gfddlyeoxpmvjzptlvtd
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  #kafka:
  #  bootstrap-servers: localhost:9092
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080